/*---Generales---*/
body{
	font-family: 'Oswald', sans-serif;
	letter-spacing: .2px;
	color: #fff;
	background: #c42029;
	background: -moz-linear-gradient(left,#c31f28,#d5242e);
	background: -webkit-linear-gradient(left,#c31f28,#d5242e);
	background: -ms-linear-gradient(left,#c31f28,#d5242e);
	background: -o-linear-gradient(left,#c31f28,#d5242e);
	background: linear-gradient(to right,#c31f28,#d4222e); 
}
img{
	max-width: 70%;
}
h2{
	font-size: 40px;
}
h6{
	font-weight: 300;
	letter-spacing: .5px;
	font-size: 13px;
}
h6 span{
	font-weight: 400;
}
span, a{
	color: #f4e200;
	}

hr.dashed{
	border-top: 1px dashed #eee;
}
header{
	text-align: right;
	position: relative;
}
header img{
	max-height: 90px;
	position: relative;
}

.main-bg{
	background-image: url(../img/background-2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-top: -90px;
}

#tombolas .main-bg, #ganadores .main-bg{
	padding-top: 90px;
}

@media screen and (max-width:1500px){
	#home .main-bg{
		padding-top:90px;
	}
}

.clear{
	clear: both;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #f4e200;
	border-bottom: 3px solid #f4e200;
}
/*
.cable{
	background-image: url(../img/background.jpg);	
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 35px;
}*/
.container{
	position: relative;
}
nav.navbar{
	position: absolute;
	top: 0;
	width: 100%;
	background: transparent;
	border: none;
	z-index: 1000;
}
.sele{
	font-size: 27px;
	padding-top: 30px;
	max-width: 600px;
	width:100%;
	margin: 0 auto;
	color: #fff;
	line-height: 37px;
	font-weight: 500;
}

h2.sele{
	padding-top: 15px;
}
.sel{
	max-width: 850px;
}
.veinte{
	width: 20%; 
	border-top: 1px dashed #eee;
}
.siempre img{
	max-height:225px;
}

.siempre .material-icons {
	color: #f4e200;
	font-size: 30px;
	margin-top: 20px;
	padding: 5px; 
}
.siempre .material-icons:hover{
	cursor: pointer;
}
.content{
	/*background-image: url(../img/fondo-cont.jpg);	
	background-size: cover;
	background-repeat: no-repeat;*/
	/* padding-bottom: 35px; */
}
.content p.text{
	padding: 15px 0;
}

.colright .col-sm-4, .colright .col-sm-8{
	float: right;
}
.mec .col-sm-4{
	text-align: center;
}
.mec .h2{
	margin: 10px 0 0 00;
	font-size: 20px;
	padding-bottom: 5px;
}

.mec .h2 strong{
	font-size: 35px;	
}
.descr{
	background: rgba(255,250,250,.15);
	padding: 15px;
	border-radius: 8px;
	border-top-left-radius: 0;
}
.colright .descr{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
}
.star:after{
	content: "";
	position: absolute;
	left: -45px;
	width: 39px;
	height: 35px;
	background-image: url(../img/left.png);
	bottom: 0;
}
.star:before{
	content: "";
	position: absolute;
	right: -110px;
	width: 95px;
	height: 191px;
	background-image: url(../img/star-right.png);
	top: 100px;	
}

.contactenos, footer{
	background: #c42029;
	background: -moz-linear-gradient(left,#c31f28,#d5242e);
	background: -webkit-linear-gradient(left,#c31f28,#d5242e);
	background: -ms-linear-gradient(left,#c31f28,#d5242e);
	background: -o-linear-gradient(left,#c31f28,#d5242e);
	background: linear-gradient(to right,#c31f28,#d4222e);
	padding-top: 30px;
}
.mecanica{
	padding: 30px;
}
label{
	font-weight: 100;
}
form{
	margin-top: 20px;
}
form .col-xs-2{
	padding-right: 0;
}
.indicativo{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.uno{
	margin-bottom: 0;
	font-size: 19px;
}
.btn{
	color: #cb2228;
	font-weight: 500;
}
.btn:hover{
	font-weight: 200;
	letter-spacing: .7px
}
.premios{
	padding-bottom: 30px;
}
.well{
	background: transparent;
	border: none;
	-webkit-box-shadow: none !important;
}
.right.carousel-control{
	background: transparent;
	text-align: right;
}
.left.carousel-control{
	background: transparent;
	text-align: left;
}
.carousel-control .material-icons{
	margin-top: 47%;
}
.imgg img{
	padding-top: 10px;
}
.imgg{
	padding-bottom: 0;
	margin-bottom: 0;
}
.interna{
	padding: 60px 0 100px 0;	
	
}
.terminos{
	background: #fff;
	color: #545454;
	padding: 80px;
	line-height: 25px;
	font-size: 15px;
}
.nop{
	padding-top: 0 !important;
}

/*--Tombola--*/
.latombola{
	background: #b4222a;
	padding: 35px 0 45px;
}
.borde:after{
	content: "";
	position: absolute;
	border-right: 1px solid #fff;
	height: 75px;
	right: 0;
	top: 15px;
}
.participa{
	font-size: 17px;
    line-height: 20px;
}
.big{
	padding-right: 0;
	font-size: 65px;
	font-weight: 500;
	color: #f4e200;	
}

.latombola p.numdos{
    font-size: 20px;
    font-weight: 100;
}
.premios .h2{
	margin-bottom: 0;
}
.borde img{
	max-width: 80%;	
	padding-top: 5px;
}
.yellow-btn{
	background: #f4e200;
	color: #d2212d;	
	padding: 3px 5px 5px 5px;
}
.yellow-btn:hover{
	background: #f4e200;
	color: #d2212d;	
	text-decoration: none;
}
.tombola{
	background: #fff;
	padding: 30px 50px;
	color: #121212;
	margin: 20px 0 40px 0;
}
#fechapasada{
	margin-top: 20px;
}
.red-f{
	color: #d2212d;
}
.tombola .col-xs-2{
	border-right: 2px solid #f4e200;
}
.tombola .col-xs-10 p{
	font-size: 18px;
}
.tablapremios{
	margin-top: 30px;
}
th{
	background: #f4e200;
	color: #d2212d;
	text-align: center;	
}
td, th{
	padding: 10px;
	border: 1px solid #fff
}
tr:nth-child(odd) {
	background: #f0f0f0
}
.red-b{
	background: #d2212d;
	color: #fff;
	text-align: center;	
}
.slim{
	font-weight: 100;
}
.tombola span.black-f{
	color: #121212;
	font-weight: 600;
}
.tombola  h6{
	margin-top: 18px;
}
/*--ganadores--*/
.ganadores .col-sm-3{
	border: none;
	padding: 10px 0;
	color: #d2212d;
	font-weight: 700;
}
.ganadores ul{
	list-style-type: none;
	-webkit-padding-start: 0px;
}
.ganadores li{
	width: 5.51%;
	display: inline-block;
	background: #d2212d;
	float: left;
	padding: 10px 0;
	color: #fff;
	position: relative;
}
.ganadores li:hover, .ganadores li.active{
	background: #f4e200;
	color: #d2212d;
	cursor: pointer;

}
.ganadores li:hover:after, .ganadores li:active:after{
	content: "";
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000;	
	top: -10px;
	position: absolute;
	left: 30%;
}
table.dataTable.display tbody td{
	border: none !important;
}
table.dataTable.no-footer, table.dataTable thead th{
	border: none !important;
}
.paginate_button.previous, .paginate_button.next{
	display: none !important;
}
.dataTables_paginate.paging_simple_numbers{
	width: 100%;
    text-align: center !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 1px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: none !important;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff)) !important;
    background: -webkit-linear-gradient(top, #fff 0%, #fff 100%) !important;
    background: -moz-linear-gradient(top, #fff 0%, #fff 100%) !important;
    background: -ms-linear-gradient(top, #fff 0%, #fff 100%) !important;
    background: -o-linear-gradient(top, #fff 0%, #fff 100%) !important;
    background: linear-gradient(to bottom, #fff 0%, #fff 100%) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none !important;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), col999stop(1 !important00%, #111));
    background: -webkit-linear-gradient(top, #999 0%, #999 100%) !important;
    background: -moz-linear-gradient(top, #999 0%, #999 100%) !important;
    background: -ms-linear-gradient(top, #999 0%, #999 100%) !important;
    background: -o-linear-gradient(top, #999 0%, #999 100%) !important;
    background: linear-gradient(to bottom, #999 0%, #999 100%) !important;
}



/*---footer--*/
footer{
	padding: 30px;
	bottom: 0;
	/* width: 70%; */
	/* left: 15%; */
}
.copy{
	/*text-align: left;
	width: 70%;
	float: left;*/
}
.copy img, .copy p{
	display: inline-block;	
}

 .copy p{
 	color: #fff; 
 	padding-left: 30px;
 }
.social{
	text-align: right;
	width: 30%;	
	float: left;
}
.redes{
	margin-top: 10px;
	display: inline-block;
	padding-left: 15px;
	border-left: 1.3px solid #fff;
}
.fa{
	color: #f1eb35;
	padding: 4px 5px; 
	margin-left: 5px;
	font-size: 18px;
}

@media screen and (max-width: 1500px) {
	.flip-clock-wrapper{
		margin-top: 1%;
	}
}
@media screen and (max-width: 1500px) {
.navbar-right{
	margin-right: 30px;
}
}

@media screen and (max-width: 1200px) {

.container.tomb.ganadores{
	width: 95%
}
.big{
	font-size: 50px;
}
.navbar-right{
	margin-right: 40px;
}
}
@media screen and (max-width: 767px) {
	.star:after{
		display: none;
	}
	.star:before{
		display: none;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-collapse-collapse{
		position: relative;
	}
	.navbar-toggle{	
		float: left;
		margin-left: 15px;
	}
	.navbar-default .navbar-collapse{
		position: relative;
		background: #c42029;
		background: -moz-linear-gradient(left,#c31f28,#d5242e);
		background: -webkit-linear-gradient(left,#c31f28,#d5242e);
		background: -ms-linear-gradient(left,#c31f28,#d5242e);
		background: -o-linear-gradient(left,#c31f28,#d5242e);
		background: linear-gradient(to right,#c31f28,#d4222e);
		padding-bottom: 30px;
		z-index: 9999;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    	background: transparent;
    }
    .navbar-default .navbar-toggle{
		position: absolute;
		z-index: 999999;
		left: 15px;
    }
    .rescenter.col-xs-6{
    	float: none;
    	margin: 0 auto;
    }
    .cant .h2{
    	margin-top: 0;
    }
    p.big{
    	line-height: 50px;
    }
    .premios{
    	width: 70%;
    	margin: 0 auto;
    }
  	.borde:after{
  		display: none;
  	}
  	.cant{
  		padding-left: 0;
  	}
  	.cant:after{
		content: "";
		position: absolute;
		border-right: 1px solid #fff;
		height: 75px;
		right: 10px;
		top: 15px;
		padding-left: 15px;
	}
}

@media screen and (max-width: 689px) {
	header img{
		max-width:80px;
	}
	 .copy p{
	 	color: #fff; 
	 	padding-left: 0px;
	 	padding-top: 15px;
	 }
	 .redes{
	 	padding: 0;
	 	border-left: none;
	 }
	 .flip-clock-wrapper{
	 	max-width: 278px;
	 	width: 98%;
	 	padding-top: 9%;
	 }
	 .flip-clock-wrapper ul{
	 	 -webkit-padding-start: 0px;
	 }
	 .flip-clock-wrapper ul {    
		width: 25px;
		height: 42px;
		margin: 3px;
	}
	.flip-clock-wrapper ul li a div div{
		font-size: 30px;
	}
	.flip-clock-wrapper ul li{
		line-height: 39.5px;
	}
	.flip-clock-divider .flip-clock-label {
		bottom: -1.5em;
		right: -45px;
	}
	.flip-clock-divider.horas .flip-clock-label {
	    right: -52px;
	}
	.flip-clock-divider.minutos  .flip-clock-label {
	    right: -59px;
	}
	.flip-clock-divider.segundos .flip-clock-label {
	    right: -62px;
	}
	 footer{
	 	padding: 30px;
    	position: relative;
    	bottom: 0;
		width: 100%;
		left: 0%; 
	 }
	 .sele {
	    font-size: 22px;
	    padding-top: 25px;
	    max-width: 600px;
	    width: 100%;
	    margin: 0 auto;
	    color: #fff;
	    line-height: 24px;
	    font-weight: 500;
	}
	.cable{
		height:auto;
		background-size: auto 100%;
	}
	
	
}

@media screen and (max-width: 500px) {
	.tombola{
		padding-left: 0px;
		padding-right: 0px;
	}
	.container.tomb{
		padding: 0;
		width: 100%;
	}
	.tomb .col-md-8{
		margin: 0;
		padding: 0; 
	}
	.tombola>.row{
		padding: 0 15px;
	}
	.ganadores {
		overflow: hidden;
	}
	.ganadores .tombola>.row{
		padding: 0
	}
	.tomb .col-xs-2{
		width: 100%; 
		border: none;
		padding: 30px;
	}
	.tomb .col-xs-10{
		width: 100%;
		padding: 0 25px;
		text-align: center;
	}
	.ganadores ul{
		width: 97%;
		margin: 0 auto;
		padding-left: 2px;
	}
	.ganadores li{
		width: 11%;
		margin-bottom: 10px;
	}
	.ganadores .col-sm-3{
		padding: 0;
	}
	.premios{
    	width: 95%;
    	margin: 0 auto;
    }
    .premios .col-xs-7, .premios .col-xs-7, .premios col-sm-5,.premios .col-sm-7, .premios .col-sm-5, .premios .col-xs-5{
    	padding: 0;
    }
    .premios .col-xs-5 .h2{
    	margin: 0;
    }
    .borde img {
    max-width: 100%;
    }
}
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }


nav.btns-flotantes {
    background-color: #fff;
    position: fixed;
    padding: 8px 5px;
    z-index: 999;
    right: 0;
    top: 20%;
    margin-top: 60px;
    border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    border-left: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transition: all .5s;
    right: 0px;
     text-align: center;
}
nav.btns-flotantes a{
	font-style: italic;
    font-weight: 100;
    color: #7c7c7c !important;
   
}
.video{
	padding: 30px 0;
}
iframe{
	max-width: 100%;
}